USE [master]
GO

IF DB_ID('hospitaldb') IS NULL
BEGIN
    EXEC('CREATE DATABASE hospitaldb');
END
GO

USE hospitaldb;
GO

CREATE TABLE [dbo].[Administer Table](
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[TreatmentID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](6) NOT NULL,
	[Results] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdmitDischarge Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdmitDischarge Table](
	[AdmitID] [int] IDENTITY(1,1) NOT NULL,
	[AdmitDate] [datetime] NOT NULL,
	[DischargeDate] [datetime] NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NULL,
 CONSTRAINT [PK_AdmitDischarge Table] PRIMARY KEY CLUSTERED 
(
	[AdmitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments Table](
	[NurseID] [int] NOT NULL,
	[WardID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Hours] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_Assignments Table] PRIMARY KEY CLUSTERED 
(
	[NurseID] ASC,
	[WardID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bed Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed Table](
	[BedID] [int] IDENTITY(1,1) NOT NULL,
	[Size] [char](1) NOT NULL,
	[Type] [char](1) NOT NULL,
	[WardID] [int] NULL,
 CONSTRAINT [PK_Bed Table] PRIMARY KEY CLUSTERED 
(
	[BedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChargedItem Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChargedItem Table](
	[ChargeID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[ItemID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
 CONSTRAINT [PK_ChargedItem Table] PRIMARY KEY CLUSTERED 
(
	[ChargeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor Table](
	[DoctorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[AltPhone] [varchar](20) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Specialty] [int] NULL,
 CONSTRAINT [PK_Doctor Table] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item Table](
	[ItemID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Charge] [money] NOT NULL,
 CONSTRAINT [PK_Item Table] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nurse Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nurse Table](
	[NurseID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[AltPhone] [varchar](20) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Certified] [bit] NULL,
 CONSTRAINT [PK_Nurse Table] PRIMARY KEY CLUSTERED 
(
	[NurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient Table](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Gender] [char](2) NULL,
	[DOB] [date] NOT NULL,
	[Age]  AS (datediff(year,[DOB],getdate())),
	[Phone] [varchar](20) NOT NULL,
	[AltPhone] [varchar](20) NULL,
	[Address]  AS (((((([Street]+', ')+[City])+', ')+[State])+' ')+[Zipcode]),
	[Street] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[State] [char](2) NOT NULL,
	[Zipcode] [nvarchar](10) NOT NULL,
	[BedID] [int] NULL,
 CONSTRAINT [PK_Patient Table] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treatment Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treatment Table](
	[TreatmentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Charge] [money] NOT NULL,
 CONSTRAINT [PK_Treatment Table] PRIMARY KEY CLUSTERED 
(
	[TreatmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ward Table]    Script Date: 4/10/2026 2:46:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ward Table](
	[WardID] [int] IDENTITY(1,1) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[ChargeNurseID] [int] NULL,
 CONSTRAINT [PK_Ward Table] PRIMARY KEY CLUSTERED 
(
	[WardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nurse Table] ADD  CONSTRAINT [DF_Nurse Table_Certified]  DEFAULT ((0)) FOR [Certified]
GO
ALTER TABLE [dbo].[Patient Table] ADD  CONSTRAINT [DF_Patient Table_Gender]  DEFAULT ('M'' or ''F') FOR [Gender]
GO
ALTER TABLE [dbo].[Administer Table]  WITH CHECK ADD  CONSTRAINT [FK_Administer Table_Doctor Table] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor Table] ([DoctorID])
GO
ALTER TABLE [dbo].[Administer Table] CHECK CONSTRAINT [FK_Administer Table_Doctor Table]
GO
ALTER TABLE [dbo].[Administer Table]  WITH CHECK ADD  CONSTRAINT [FK_Administer Table_Patient Table] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient Table] ([PatientID])
GO
ALTER TABLE [dbo].[Administer Table] CHECK CONSTRAINT [FK_Administer Table_Patient Table]
GO
ALTER TABLE [dbo].[Administer Table]  WITH CHECK ADD  CONSTRAINT [FK_Administer Table_Treatment Table] FOREIGN KEY([TreatmentID])
REFERENCES [dbo].[Treatment Table] ([TreatmentID])
GO
ALTER TABLE [dbo].[Administer Table] CHECK CONSTRAINT [FK_Administer Table_Treatment Table]
GO
ALTER TABLE [dbo].[AdmitDischarge Table]  WITH CHECK ADD  CONSTRAINT [FK_AdmitDischarge Table_Doctor Table] FOREIGN KEY([DoctorID])
REFERENCES [dbo].[Doctor Table] ([DoctorID])
GO
ALTER TABLE [dbo].[AdmitDischarge Table] CHECK CONSTRAINT [FK_AdmitDischarge Table_Doctor Table]
GO
ALTER TABLE [dbo].[AdmitDischarge Table]  WITH CHECK ADD  CONSTRAINT [FK_AdmitDischarge Table_Patient Table] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient Table] ([PatientID])
GO
ALTER TABLE [dbo].[AdmitDischarge Table] CHECK CONSTRAINT [FK_AdmitDischarge Table_Patient Table]
GO
ALTER TABLE [dbo].[Assignments Table]  WITH CHECK ADD  CONSTRAINT [FK_Assignments Table_Nurse Table] FOREIGN KEY([NurseID])
REFERENCES [dbo].[Nurse Table] ([NurseID])
GO
ALTER TABLE [dbo].[Assignments Table] CHECK CONSTRAINT [FK_Assignments Table_Nurse Table]
GO
ALTER TABLE [dbo].[Assignments Table]  WITH CHECK ADD  CONSTRAINT [FK_Assignments Table_Ward Table] FOREIGN KEY([WardID])
REFERENCES [dbo].[Ward Table] ([WardID])
GO
ALTER TABLE [dbo].[Assignments Table] CHECK CONSTRAINT [FK_Assignments Table_Ward Table]
GO
ALTER TABLE [dbo].[Bed Table]  WITH CHECK ADD  CONSTRAINT [FK_Bed Table_Ward Table] FOREIGN KEY([WardID])
REFERENCES [dbo].[Ward Table] ([WardID])
GO
ALTER TABLE [dbo].[Bed Table] CHECK CONSTRAINT [FK_Bed Table_Ward Table]
GO
ALTER TABLE [dbo].[ChargedItem Table]  WITH CHECK ADD  CONSTRAINT [FK_ChargedItem Table_Item Table] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Item Table] ([ItemID])
GO
ALTER TABLE [dbo].[ChargedItem Table] CHECK CONSTRAINT [FK_ChargedItem Table_Item Table]
GO
ALTER TABLE [dbo].[ChargedItem Table]  WITH CHECK ADD  CONSTRAINT [FK_ChargedItem Table_Patient Table] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient Table] ([PatientID])
GO
ALTER TABLE [dbo].[ChargedItem Table] CHECK CONSTRAINT [FK_ChargedItem Table_Patient Table]
GO
ALTER TABLE [dbo].[Patient Table]  WITH CHECK ADD  CONSTRAINT [FK_Patient Table_Bed Table] FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed Table] ([BedID])
GO
ALTER TABLE [dbo].[Patient Table] CHECK CONSTRAINT [FK_Patient Table_Bed Table]
GO
ALTER TABLE [dbo].[Ward Table]  WITH CHECK ADD  CONSTRAINT [FK_Ward Table_Nurse Table] FOREIGN KEY([ChargeNurseID])
REFERENCES [dbo].[Nurse Table] ([NurseID])
GO
ALTER TABLE [dbo].[Ward Table] CHECK CONSTRAINT [FK_Ward Table_Nurse Table]
GO
ALTER TABLE [dbo].[Bed Table]  WITH CHECK ADD  CONSTRAINT [CK_Bed Table_Size] CHECK  (([Size]='X' OR [Size]='L' OR [Size]='S'))
GO
ALTER TABLE [dbo].[Bed Table] CHECK CONSTRAINT [CK_Bed Table_Size]
GO
ALTER TABLE [dbo].[Bed Table]  WITH CHECK ADD  CONSTRAINT [CK_Bed Table_Type] CHECK  (([Type]='M' OR [Type]='E'))
GO
ALTER TABLE [dbo].[Bed Table] CHECK CONSTRAINT [CK_Bed Table_Type]
GO
ALTER TABLE [dbo].[Doctor Table]  WITH CHECK ADD  CONSTRAINT [CK_Doctor Table_AltPhoneFormat] CHECK  (([AltPhone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Doctor Table] CHECK CONSTRAINT [CK_Doctor Table_AltPhoneFormat]
GO
ALTER TABLE [dbo].[Doctor Table]  WITH CHECK ADD  CONSTRAINT [CK_Doctor Table_PhoneFormat] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Doctor Table] CHECK CONSTRAINT [CK_Doctor Table_PhoneFormat]
GO
ALTER TABLE [dbo].[Nurse Table]  WITH CHECK ADD  CONSTRAINT [CK_Nurse Table_AltPhone] CHECK  (([AltPhone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Nurse Table] CHECK CONSTRAINT [CK_Nurse Table_AltPhone]
GO
ALTER TABLE [dbo].[Nurse Table]  WITH CHECK ADD  CONSTRAINT [CK_Nurse Table_Phone] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Nurse Table] CHECK CONSTRAINT [CK_Nurse Table_Phone]
GO
ALTER TABLE [dbo].[Patient Table]  WITH CHECK ADD  CONSTRAINT [CK_Patient_AltPhoneFormat] CHECK  (([AltPhone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Patient Table] CHECK CONSTRAINT [CK_Patient_AltPhoneFormat]
GO
ALTER TABLE [dbo].[Patient Table]  WITH CHECK ADD  CONSTRAINT [CK_Patient_PhoneFormat] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Patient Table] CHECK CONSTRAINT [CK_Patient_PhoneFormat]
GO
ALTER TABLE [dbo].[Ward Table]  WITH CHECK ADD  CONSTRAINT [CK_Ward Table_Phone] CHECK  (([Phone] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Ward Table] CHECK CONSTRAINT [CK_Ward Table_Phone]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Patient Table', @level2type=N'COLUMN',@level2name=N'Age'
GO
